U1_Rec/Ejercicio1_DTD y XSD/Ejercicio1_DTD y XSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="street" type="xs:string" />
                    <xs:element name="number" type="xs:unsignedByte" />
                    <xs:element name="city" type="xs:string" />
                    <xs:element name="province" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="phone" type="xs:unsignedInt" />
            </xs:sequence>
            <xs:attribute name="dni" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>